{% set classes = [
  'c100',
  'p' ~ value,
  size != 'default' ? size,
  color != 'default' ? color,
] %}
<div{{ attributes.addClass(classes) }}>
  <span>{{ value_display }}</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
